{% extends "TrailWarehouseAppBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} : Erreur 404
{% endblock %}

{% block body_bg_url %}{{ asset('images/page1.jpg') }}{% endblock %}

{% block page_main %}
  <main>
    <div class="alert alert-danger mx-auto p-4">
      <h2 class="alert-heading">Oops ! Cette page n'existe pas</h2>
      <p>
        <a class="ness-btn ness-btn-primary" href="{{ path('app_home') }}">
          Accéder à la boutique
        </a>
      </p>
    </div>
  </main>
{% endblock %}
