// main: style.less

@primary: @darken(@green, 5%);

.bg-whitegrey {
  background: @whitegrey;
}
.bg-blackgrey {
  background: @blackgrey;
}
.txt-whitegrey {
  color: @whitegrey;
}
.txt-blackgrey {
  color: @blackgrey;
}
