// main: style.less

@primary    : @bluegreen;
@secondary  : @greenblue;
@link-color : darken(@blue, 4%);
@link-color-hover : darken(@link-color, 8%);

.bg-primary {
  background : @primary !important;
  color: white;
}
.bg-secondary {
  background : @secondary !important;
  color: white;
}
.bg-white {
  background : white !important;
}
.bg-black {
  background : black !important;
}
.bg-whitegrey {
  background : @whitegrey !important;
}
.bg-blackgrey {
  background : @blackgrey !important;
}

.txt-primary {
  color : @primary !important;
  &.hover {
    &:hover {
      color: darken(@primary, 5%) !important;
    }
  }
}
.txt-secondary {
  color : @secondary !important;
  &.hover {
    &:hover {
      color: darken(@secondary, 5%) !important;
    }
  }
}
.txt-whitegrey {
  color : @whitegrey !important;
  &.hover {
    &:hover {
      color: darken(@whitegrey, 5%) !important;
    }
  }
}
.txt-blackgrey {
  color : @blackgrey !important;
  &.hover {
    &:hover {
      color: darken(@blackgrey, 5%) !important;
    }
  }
}
