// main: style.less

// Bevan
@font-face {
  font-family: 'Bevan';
  src: url('../fonts/Bevan/Bevan-Regular.ttf');
}

// Carte One
@font-face {
  font-family: 'Carter One';
  src: url('../fonts/Carter_One/CarterOne.ttf');
}

// Fira Sans
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf');
}
// Fira Sans Bold
@font-face {
  font-family: 'Fira Sans Bold';
  src: url('../fonts/Fira_Sans/FiraSans-Bold.ttf');
}
// Fira Sans Italic
@font-face {
  font-family: 'Fira Sans Italic';
  src: url('../fonts/Fira_Sans/FiraSans-Italic.ttf');
}
// Fira Sans Bold Italic
@font-face {
  font-family: 'Fira Sans Bold Italic';
  src: url('../fonts/Fira_Sans/FiraSans-BoldItalic.ttf');
}

// Josefin Sans
@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

// PT Sans
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
}
// PT Sans Bold
@font-face {
  font-family: 'PT Sans Bold';
  src: url('../fonts/PT_Sans/PT_Sans-Web-Bold.ttf');
}
// PT Sans Italic
@font-face {
  font-family: 'PT Sans Italic';
  src: url('../fonts/PT_Sans/PT_Sans-Web-Italic.ttf');
}

// Roboto
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto/Roboto-Light.ttf');
}
// Roboto
@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
// Roboto
@font-face {
  font-family: 'Roboto Italic';
  src: url('../fonts/Roboto/Roboto-Italic.ttf');
}

/* ----- */

.font-brand {
  font-family : 'Bevan';
  font-size   : 1.0rem;
}

.font-fira-sans-bold {
  font-family : 'Fira Sans Bold';
}
