// main: style.less

@bg-btn-confirm: @blue;
@bg-btn-confirm-hover: darken(@bg-btn-confirm, 10%);
@bg-btn-action: @mustard;
@bg-btn-action-hover: darken(@bg-btn-action, 10%);

.form-container {
  background: @lightgrey;
  .glyphicon {
    &:first-child, &:last-child {
      margin: 0;
    }
  }
  .input-group-addon {
    font-size: 14px;
  }
  .form-text {
    font-size: .9rem;
  }
  @media (min-width: 576px) {
    font-size: .9rem;
    .form-control {
      font-size: .9rem;
    }
    .form-text {
      font-size: .8rem;
    }
  }
}

.btn {
  border-radius: 3px;
  cursor: pointer;
  // Cancel
  &-cancel {
    background: @lightgrey;
    color: @darkgrey;
    border: 1px solid @grey;
    &:hover {
      background: @darkgrey;
      border: 1px solid @blackgrey;
    }
  }
  // Confirm
  &-confirm {
    background: @bg-btn-confirm;
    border: 1px solid darken(@bg-btn-confirm, 10%);
    color: @lightgrey;
    a {
      color: @lightgrey;
      display: block;
      width: 100%;
    }
    &:hover {
      background: @bg-btn-confirm-hover;
      border: 1px solid darken(@bg-btn-confirm-hover, 10%);
    }
  }
  // Action
  &-action {
    background: @bg-btn-action;
    border: 1px solid darken(@bg-btn-action, 10%);
    color: @whitegrey;
    a {
      color: @whitegrey;
      display: block;
      width: 100%;
    }
    &:hover {
      background: @bg-btn-action-hover;
      border: 1px solid darken(@bg-btn-action-hover, 10%);
    }
  }
  &-validation {
    min-width: 140px;
  }
}

.ness-btn {
  background: linear-gradient(to bottom, lighten(@primary, 5%), darken(@primary, 5%)) !important;
  transition: .50s;
  &:hover {
    background: linear-gradient(to bottom, lighten(@primary, 5%), darken(@primary, 5%)) !important;
    border-color: @primary !important;
    .glow;
  }
}

.glow {
  text-shadow:
    0 0 8px @neon-color,
  ;
}
