@bg-btn-confirm: @blue;
@bg-btn-confirm-hover: darken(@bg-btn-confirm, 10%);

.form-container {
  background: @lightgrey;
  .glyphicon {
    &:first-child, &:last-child {
      margin: 0;
    }
  }
  @media (min-width: 576px) {
    font-size: .9rem;
    .form-control {
      font-size: .9rem;
    }
  }
}

.btn {
  border-radius: 3px;
  cursor: pointer;
  &-cancel {
    background: @lightgrey;
    color: @darkgrey;
    border: 1px solid @grey;
    &:hover {
      background: @darkgrey;
      border: 1px solid @blackgrey;
    }
  }
  &-confirm {
    background: @bg-btn-confirm;
    color: @lightgrey;
    border: 1px solid darken(@bg-btn-confirm, 10%);
    &:hover {
      background: @bg-btn-confirm-hover;
      border: 1px solid darken(@bg-btn-confirm-hover, 10%);
    }
  }
}
