/* Custom */

@footer-height: 50px;


/* Page Footer */

#page-footer {
  padding: 0px 0px;
  position: absolute;
  bottom: 0px;
  left: 0px; right: 0px;
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.80rem;
    height: @footer-height;
    width: 100%;
  }
}
