// main: style.less

/* ------------------------- */

/* Custom colors */
@bg-menu-category: @whitegrey;
@bg-menu-category-hover: @darkblue;
@bg-menu-category-active: lighten(@bg-active-category, 4%);
@bg-active-category: lighten(@blue, 5%);
@txt-menu-category: lighten(@blackgrey, 2%);
@txt-menu-category-hover: @white;
@border-menu-category: @steelgrey;
@shadow-category-hover: darken(@bg-menu-category-hover, 20%);
@border-category-hover: @bg-menu-category-hover;

/* Page Navigation */

#page-nav {
  background: @bg-menu-category;
  margin: 0px 0px 20px 0px;
  padding: 0 0 0 0;
  width: 100%;
}

#menu-category {
  background: @bg-menu-category;
  padding: 0;
  transition: .15s;
  ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    @media (min-width: @width-md) {
      flex-flow: row wrap;
    }
    list-style-type: none;
    margin: 0; padding: 0;
    li {
      display: flex;
      align-items: center;
      padding: 0;
      a {
        color: @txt-menu-category;
        display: flex;
        justify-content: center;
        padding: 16px 20px;
        width: 100%;
        &.active {
          background: @bg-active-category;
          color: white;
          cursor: default;
        }
      }
      &:hover {
        z-index: 1;
        a:not(.active) {
          background: @bg-menu-category-hover;
          color: @txt-menu-category-hover;
          transform: scale(1.0);
        }
      }
      &:active {
        z-index: 1;
        a:not(.active) {
          background: @bg-menu-category-active;
          color: @txt-menu-category-hover;
        }
      }
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ness-option-container {
  max-height: none;
  overflow: visible;
}

#site-search {
  display: none;
  form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    line-height: 20px;
    width: 100%;
    .form-control {
      width: initial;
    }
  }
  @media (min-width: @width-lg) {
    display: flex;
    align-items: center;
  }
}
