// main: style.less

/* ------------------------- */

/* Custom colors */
@bg-menu-category        : @whitegrey;
@bg-menu-category-hover  : darken(@bg-active-category, 5%);
@bg-menu-category-active : lighten(@bg-active-category, 5%);
@bg-active-category      : lighten(@blue, 2%);
@txt-menu-category       : lighten(@blackgrey, 2%);
@txt-menu-category-hover : @white;
@border-menu-category    : @steelgrey;
@shadow-category-hover   : darken(@bg-menu-category-hover, 20%);
@border-category-hover   : @bg-menu-category-hover;

/* Page Navigation */

#page-nav {
  background: @bg-menu-category;
  margin: 0px 0px 20px 0px;
  padding: 0 0 0 0;
  width: 100%;
}

#menu-category {
  background: @bg-menu-category;
  padding: 0;
  transition: .15s;
  .ness-mask {
    background: @bg-menu-category;
    padding: 0;
    transition: .15s;
  }
  // Small devices
  .ness-option-container {
    overflow: inherit;
    .ness-option {
      &:hover {
        a {
          background: @bg-menu-category-hover;
          color: @txt-menu-category-hover;
        }
      }
      &:active {
        a {
          background: @bg-menu-category-active;
          color: @txt-menu-category-hover;
        }
      }
      a {
        &.active {
          background: @bg-menu-category-hover;
          color: @txt-menu-category-hover;
        }
      }
    }
  }
  ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    @media (min-width: @width-md) {
      flex-flow: row wrap;
    }
    list-style-type: none;
    margin: 0; padding: 0;
    li {
      display: flex;
      align-items: center;
      padding: 0;
      a {
        color: @txt-menu-category;
        display: flex;
        justify-content: center;
        padding: 16px 20px;
        width: 100%;
        &.active {
          .ness-mask {
            background: @bg-active-category;
          }
          // background: @bg-active-category;
          color: white;
          cursor: default;
        }
      }
      &:hover {
        z-index: 1;
        .ness-mask {
          background: @bg-menu-category-hover;
        }
        a:not(.active) {
          // background: @bg-menu-category-hover;
          color: @txt-menu-category-hover;
        }
      }
      &:active {
        z-index: 1;
        .ness-mask {
          background: @bg-menu-category-active;
        }
        a:not(.active) {
          // background: @bg-menu-category-active;
          color: @txt-menu-category-hover;
        }
      }
    }
  }
}

.navbar-toggler {
  background: @bg-menu-category;
  border-radius: 0px;
  box-shadow: 0px 0px 3px 1px @darkgrey;
  color: @txt-menu-category;
  cursor: pointer;
  font-size: 1rem;
  padding: 12px;
  transition: .20s;
  &:hover {
    background: @bg-menu-category-hover;
    color: @txt-menu-category-hover;
  }
  &.active {
    background: @blue;
    box-shadow: 0px 0px 4px 1px @blackgrey;
    color: @txt-menu-category-hover;
  }
}

#site-search {
  width: 100%;
  form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    line-height: 20px;
    width: 100%;
    .form-control {
      width: initial;
    }
  }
  @media (min-width: @width-md) {
    display: flex;
    align-items: center;
  }
}
