// main: style.less

/* Custom */

@footer-height: 60px;
@txt-footer: @grey;

/* Page Footer */

#page-footer {
  padding: 0px 0px;
  width: 100%;
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: @txt-footer;
    font-size: 0.80rem;
    height: @footer-height;
    width: 100%;
  }
}
