// main: style.less

/* ------------------------- */

/* Custom colors */

@txt-brand-trail: darken(@green, 6%);
@txt-brand-warehouse: darken(@lightgrey, 4%);


/* Page Header */

#page-header {
  color: white;
  padding: 0 0 0 0;
  width: 100%;
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    min-height: 100px;
    position: relative;
    width: 100%;
  }
  .navbar {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    @media (min-width: @width-lg) {
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }
  .navbar-collapse {
    @media (min-width: @width-md) {
      width: initial;
    }
  }
  .navbar-toggler {
    background: @steelgrey;
    color: @blackgrey;
    font-size: 1rem;
  }
}

#brand {
  font-family: 'Bevan', 'Carter One', 'Fira Sans', 'Helvetica', 'Times New Roman', sans-serif;
  font-size: 1.7rem;
  margin: 0 0 8px 0;
  @media (min-width: @width-lg) {
    margin: 0 8px 0px 0;
  }
}

#brand-trail {
  color: @txt-brand-trail;
}

#brand-warehouse {
  color: @txt-brand-warehouse;
}

#menu-container {
  display: flex;
  flex-flow: column;
  align-items: baseline;
  transition: 0.2s;
  @media (min-width: @width-md) {
    flex-flow: row;
  }
}

#menu-user {
  #menu-user-list {
    margin: 0;
    display: flex;
    li {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        border-radius: 4px;
        color: @lightgrey;
        &:hover {
          background: darken(@primary, 5%);
          box-shadow: 0px 0px 8px 2px @whitegrey;
        }
      }
    }
    @media (min-width: @width-lg) {
      flex-flow: row nowrap;
      list-style-type: none;
      li {
        &:not(:last-child) {
          margin: 0 8px 0 0;
        }
      }
    }
  }
  .glyphicon {
    &:first-child {
      margin: 0 8px 0 0;
    }
    &:last-child {
      margin: 0 0 0 8px;
    }
    &:first-child:last-child {
      margin: 0;
    }
  }
}

#img-cart {
  height: 40px;
}

#cart-count {
  align-items: center;
  background: @blackgrey;
  color: @mustard;
  display : flex;
  font-family: 'Fira Sans Bold';
  height: 24px;
  justify-content: center;
  width: 24px;
  padding: 4px;
}
