// out: ../css/style.css, compress: true, sourceMap: false

/* ------------------------- */

/* Imports */

@import "../bower_components/ness/less/color.less";
@import "fonts.less";
@import "glyphicons.less";
@import "breakpoints.less";
@import "variables.less";
@import "colors.less";
@import "animations.less";
@import "carousels.less";
@import "modals.less";
@import "forms.less";
@import "loading.less";
@import "page.less";
@import "page_header.less";
@import "page_nav.less";
@import "page_breadcrumb.less";
@import "page_main.less";
@import "page_footer.less";
@import "page_sign.less";
@import "page_shop.less";
@import "page_category.less";
@import "page_family.less";

/* Custom */

@border-color: @steelgrey;

/* Global */

body {
  * {
    box-sizing: border-box;
  }
  min-width: 320px;
}

ul {
  list-style-type: none;
  padding: 0; margin: 0;
  li {
    transition: .2s;
    a {
      display: block;
      padding: 12px;
      text-decoration: none;
      transition: .15s;
    }
  }
}

button {
  &:focus {
    outline: none;
  }
}

em {
  font-style: normal;
  font-weight: normal;
  font-family: @main-font-italic;
}

.container {
  transition: .2s;
}

.border {
  border: 1px solid @border-color;
  &-bottom {
    border-bottom: 1px solid @border-color;
  }
  &-bottom-only {
    border: none;
    border-bottom: 1px solid @border-color;
  }
  &-none {
    border: none;
  }
}

.hr {
  background: url('../images/hr.png');
  border: none;
  height: 25px;
}

.mask {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background: @blackgrey;
  opacity: 0.70;
}

.image-container {
  img {
    height: 100%; width: 100%;
  }
}

.parallelogram {
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
}
