// main: style.less

/* -------------------- */

/* Fonts */

@main-font        : 'Fira Sans';
@main-font-bold   : 'Fira Sans Bold';
@main-font-light  : 'Fira Sans Light';
@main-font-italic : 'Fira Sans Italic';
@alt-font         : 'Roboto';
@alt-font-bold    : 'Roboto Bold';
@alt-font-light   : 'Roboto Light';
@alt-font-italic  : 'Roboto Italic';
@brand-font       : 'Bevan';
@heading-font     : 'Carter One';

/* Colors */

@primary    : @bluegreen;
@secondary  : @greenblue;
@barely-white : darken(white, 4%);
@whitegrey    : darken(white, 4%);
@link-color : darken(@blue, 4%);
@link-color-hover : darken(@link-color, 8%);

/* Font Sizes */

@font-size-1 : 0.5rem;
@font-size-2 : 0.62rem;
@font-size-3 : 0.75rem;
@font-size-4 : 0.87rem;
@font-size-5 : 1.00rem;
@font-size-6 : 1.25rem;
@font-size-7 : 1.50rem;
@font-size-8 : 1.75rem;
@font-size-9 : 2.00rem;
