// main: style.less

/* -------------------- */

/* Fonts */

@main-font: 'Fira Sans';
@main-font-bold: 'Fira Sans Bold';
@main-font-light: 'Fira Sans Light';
@main-font-italic: 'Fira Sans Italic';
@alt-font: 'Roboto';
@alt-font-bold: 'Roboto Bold';
@alt-font-light: 'Roboto Light';
@alt-font-italic: 'Roboto Italic';
@brand-font: 'Bevan';
@heading-font: 'Carter One';

/* Colors */

@barely-white: darken(white, 4%);
@whitegrey: darken(white, 4%);
