<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('images/feet.png') }}" />
  {% block javascripts %}
  {% endblock %}
</head>

<body
  data-bg-url="{% block body_bg_url %}{% endblock %}"
  data-bg-color="{% block body_bg_color %}{% endblock %}"
>
{% block body %}
  <div id="page">

    <!-- # Page Header -->
    <div id="page-header">
    {% block page_header %}
    {% endblock %}
    </div>
    <!-- Page Header # -->

    <!-- # Page Navigation-->
    <div id="page-nav" class="">
    {% block page_nav %}
    {% endblock %}
    </div>
    <!-- Page Navigation # -->

    <!-- # Page Breadcrumb -->
    <div id="page-breadcrumb" class="container">
    {% block page_breadcrumb %}
    {% endblock %}
    </div>
    <!-- Page Breadcrumb # -->

    <!-- # Page Main -->
    <div id="page-main" class="container">
    {% block page_main %}
    {% endblock %}
    </div>
    <!-- Page Main # -->

    <!-- # Page Footer -->
    <div id="page-footer">
    {% block page_footer %}
    {% endblock %}
    </div>
    <!-- Page Footer # -->

  </div>
{% endblock %}

{% block additional_javascripts %}
{% endblock %}

</body>

</html>
