{% extends "TrailWarehouseAppBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} : Accueil
{% endblock %}

{% block page_main %}

  <div class="">
    <p><a class="ness-btn ness-btn-primary" href="{{ path('shop') }}">Accéder à la boutique</a></p>
  </div>

{% endblock %}
