/* -------------------- */
/******************/
/***** COLORS *****/
/******************/
/* Base */
/* Extended */
/* Special */
/* Contextual */
/* Links */
/***** BG-COLORS *****/
.ness-bg-blue {
  background: #3db8f5;
}
.ness-bg-darkblue {
  background: #0d59a5;
}
.ness-bg-darkblue:hover {
  background: #08335e;
}
.ness-bg-darkgrey {
  background: #505c62;
}
.ness-bg-graphite {
  background: #5c6970;
}
.ness-bg-green {
  background: #1fad72;
}
.ness-bg-sand {
  background: #f4d371;
}
.ness-bg-papyrus {
  background: radial-gradient(circle, #feeecd, #e8bb7d);
}
.ness-bg-red {
  background: #e0525b;
}
.ness-bg-seablue {
  background: #33ddff;
}
.ness-bg-steelgrey {
  background: #c7ced1;
}
.ness-bg-yellow {
  background: #ffe02e;
}
/***** TEXT-COLORS *****/
.ness-text-blue {
  color: #2b8cee;
}
.ness-text-darkblue {
  color: #0d59a5;
}
.ness-text-darkgrey {
  color: #2e3538;
}
.ness-text-graphite {
  color: #5c6970;
}
.ness-text-green {
  color: #1fad72;
}
.ness-text-sand {
  color: #f4d371;
}
.ness-text-papyrus {
  color: #e8bb7d;
}
.ness-text-red {
  color: #e0525b;
}
.ness-text-seablue {
  color: #33ddff;
}
.ness-text-steelgrey {
  color: #c7ced1;
}
.ness-text-yellow {
  color: #ffe02e;
}
.ness-table-container {
  align-self: stretch;
  border: 1px solid #e3e6e8;
  box-shadow: 0px 1px 3px 0px #2e3538;
  margin: 10px auto;
  overflow-x: auto;
  width: 100%;
}
.ness-table-container.half {
  width: 50%;
}
.ness-table-container.xs {
  width: 280px;
}
.ness-table-container.sm {
  width: 450px;
}
.ness-table-container.md {
  width: 720px;
}
.ness-table-container.lg {
  width: 950px;
}
.ness-table-container table {
  border-collapse: collapse;
  color: black;
  font-size: 0.9em;
  margin: auto;
  width: 100%;
}
.ness-table-container table thead tr {
  background: #505c62;
  border-bottom: 2px solid white;
  border-bottom: 3px solid #0EAABA;
  cursor: pointer;
  font-size: 0.95rem;
}
.ness-table-container table tbody tr {
  color: black;
  cursor: pointer;
  transition: 0.10s;
}
.ness-table-container table tbody tr:nth-child(even) {
  background: #f4f5f6;
}
.ness-table-container table tbody tr:nth-child(odd) {
  background: #ffffff;
}
.ness-table-container table tbody tr:hover {
  color: black;
}
.ness-table-container table tbody tr:hover a {
  color: #2b8cee;
}
.ness-table-container table tbody tr:hover:not(.no-hover) {
  background: #2b8cee;
  color: white;
}
.ness-table-container table tbody tr:hover:not(.no-hover) a {
  color: white;
}
.ness-table-container table tbody tr a {
  text-decoration: none;
}
.ness-table-container table th {
  color: white;
  font-weight: normal;
  padding: 8px 16px;
  text-align: left;
}
.ness-table-container table th:not(:last-child) {
  border-right: 1px solid #e3e6e8;
}
.ness-table-container table th:hover {
  background: #404a4f;
}
.ness-table-container table td {
  padding: 8px 16px;
}
.ness-table-container table td:not(:last-child) {
  border-right: 1px solid #e3e6e8;
}
.ness-table-container table td:last-child {
  cursor: pointer;
}
.ness-table-container table td a:hover {
  text-shadow: initial;
}
.ness-table-container table.col-center th,
.ness-table-container table.col-center td {
  text-align: center;
}
.ness-table-container table.col-left th,
.ness-table-container table.col-left td {
  text-align: left;
}
.ness-table-container table.col-right th,
.ness-table-container table.col-right td {
  text-align: right;
}
/*** Customize your table ***/
