{# TrailWarehouse > AppBundle > Resources > views > navbar.html.twig #}

<nav class="navbar ness-txt-white">

  <!-- # Brand -->
  <a id="brand" class="navbar-brand" href="{{ path('app_shop') }}">
    <span id="brand-trail">Trail</span>&nbsp;<span id="brand-warehouse">Warehouse</span>
  </a>
  <!-- Brand # -->

  <div id="menu-container" class="">
    <!-- # Site Search -->
    <div id="site-search">
      <form class="ness-form-inline">
        <input class="form-control mr-2" type="search" placeholder="Rechercher...">
        <a class="ness-btn"><span class="glyphicon glyphicon-search"></span></a>
      </form>
    </div>
    <!-- Site Search # -->

    <!-- # User Navigation -->
    <nav id="menu-user" class="col-12 col-lg">
      {% block user_nav %}
      <ul class="">
        <li class="nav-item">
          <a href="{{ path('app_client_signup') }}" data-toggle="modal" data-target="#signup-modal">
            <span class="glyphicon glyphicon-pencil"></span><span>Inscription</span>
          </a>
          {% include 'TrailWarehouseAppBundle::signup_modal.html.twig' %}
        </li>
        <li class="nav-item">
          <a href="{{ path('app_client_signin') }}" data-toggle="modal" data-target="#signin-modal">
            <span class="glyphicon glyphicon-user"></span><span>Connexion</span>
          </a>
          {% include 'TrailWarehouseAppBundle::signin_modal.html.twig' %}
        </li>
      </ul>
      {% endblock %}
    </nav>
    <!-- User Navigation # -->

  </div>

</nav>
