<ul class="col-12">
  <li>
    <a
      {% if active_category is not null and active_category.name == 'toutes' %}
      class="active"
      {% else %}
      href="{{ path('app_shop_category', {"slug": 'toutes'}) }}"
      {% endif %}
    >
      Toutes
    </a>
  </li>
{% for category in categories %}
  <li>
    <a
      {% if active_category is null or active_category.name != category.name %}
      href="{{ path('app_shop_category', {"slug": category.slug}) }}"
      {% endif %}
      {% if active_category is not null and active_category.name == category.name %}
      class="active"
      {% endif %}
    >
      {{ category.name | capitalize }}
    </a>
  </li>
{% endfor %}
</ul>
