{# TrailWarehouse > AppBundle > Resources > views > Shop > item_modal.html.twig #}

<!-- # Item Modal -->
<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <!-- # Modal Dialog -->
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- # Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Produit ajouté au panier !</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal Header # -->

      <!-- # Modal Body -->
      <div class="modal-body">

        <!-- # Item -->
        <div id="item">
          <table id="table-item" class="ness-table mb-3">
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="">
                    <span class="font-italic" data-ng-bind="(page.item.product.family.brand.name | ucwords)"></span> -
                    <span data-ng-bind="(page.item.product.family.name | capitalize)"></span>
                  </div>
                  <div class="">
                    (<span data-ng-bind="page.item.product.color.name | capitalize"></span>&nbsp;|&nbsp;<span data-ng-bind="(page.item.product.size.value | uppercase)"></span><span data-ng-bind="(page.item.product.size.unitShortcut != null) ? (page.item.product.size.unitShortcut) : ''"></span>)
                  </div>
                </td>
                <td class="text-center"><img class="miniature" data-ng-src="{% verbatim %}{{ (page.item.product.image != null) ? (page.item.product.image.src) : (page.ASSET_URL + 'images/no_picture.png') }}{% endverbatim %}"></td>
              </tr>
            </tbody>
          </table>
          <!-- Item Total # -->
        </div>
        <!-- Cart # -->

      </div>
      <!-- Modal Body # -->

      <div class="">

        <!-- # Modal Footer -->
        <div class="modal-footer">
          <div class="d-flex flex-column flex-sm-row">
            <button type="button" class="btn btn-cancel mb-2 mb-sm-0 mr-sm-2" data-dismiss="modal">
              <span class="glyphicon glyphicon-tag mr-1"></span>
              <span>Continuer mon shopping</span>
            </button>
            <a href="{{ path('app_cart') }}" class="btn btn-confirm">
              <span class="glyphicon glyphicon-shopping-cart mr-1"></span>
              <span>Voir mon panier</span>
            </a>
          </div>
        </div>
        <!-- Modal Footer # -->

      </div>

    </div>
  </div>
  <!-- Modal Dialog # -->

</div>
<!-- Cart Modal # -->
