<ul class="col-12">
  <li>
    <a href="{{ path('app_shop') }}">
      <span class="glyphicon glyphicon-home mx-auto px-3"></span>
    </a>
  </li>
  <li>
    <a
      {% if active_category is not null and active_category.name == 'toutes' %}
      class="active"
      {% else %}
      href="{{ path('app_shop_categories') }}"
      {% endif %}
    >
      TOUTES
    </a>
  </li>
{% for category in categories %}
  <li>
    <a
      {% if active_category is null or active_category.name != category.name %}
      href="{{ path('app_shop_category', {"slug": category.slug}) }}"
      {% endif %}
      {% if active_category is not null and active_category.name == category.name %}
      class="active"
      {% endif %}
    >
      {{ category.name | capitalize }}
    </a>
  </li>
{% endfor %}
  <li>
    <div id="site-search">
      <form class="ness-form-inline">
        <input class="form-control mr-2" type="search" placeholder="Rechercher...">
        <button class="ness-btn ness-btn-primary"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
  </li>
<!-- Site Search # -->
</ul>
<!-- # Site Search -->
