{% for type, messages in app.flashes %}
  {% for message in messages %}
    <div class="ness-block {{ type }} mb-1 mx-auto">
      <div>{{ message | raw }}</div>
    </div>
  {% endfor %}
{% endfor %}
