{% trans_default_domain 'EasyAdminBundle' %}

{% if value == true %}
    <span class="label label-success">{{ 'Oui'|trans }}</span>
{% else %}
    <span class="label label-danger">{{ 'Non'|trans }}</span>
{% endif %}
