{% trans_default_domain 'EasyAdminBundle' %}

{% if view == 'show' %}
    {% if value == true %}
        <span class="label label-success">Oui</span>
    {% else %}
        <span class="label label-danger">Non</span>
    {% endif %}
{% else %}
    <input type="checkbox" {{ value == true ? 'checked' : '' }}
       data-toggle="toggle" data-size="mini"
       data-onstyle="success" data-offstyle="danger"
       data-on="oui" data-off="non">
{% endif %}
